
body, #root {
background-image: url("https://images.pexels.com/photos/35372578/pexels-photo-35372578.jpeg");
background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  min-height: 100vh;
}